<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><h3>My Library</h3></a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink='../issueinfo'>Issue Book<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='../bookinfo'>Book<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='../userinfo'>User<span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
  </div>
</nav>
<div class="container">
    <h3> Book Issued</h3>
    <div class="row">
        <div class='col-9'>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Issue Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Issue Date</th>
                    <th scope="col">No Of Days</th>
                    <th scope="col">Expected Return Date</th>
                    <th scope="col">Actual return Date</th>
                    <th scope="col">Fine</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of result">
                    <th scope="row">{{u.iis}}</th>
                    <td>{{u.username}}</td>
                    <td>{{u.bookname}}</td>
                    <td>{{u.issuedate}}</td>
                    <td>{{u.noofdays}}</td>
                    <td>{{u.expreturndate}}</td>
                    <td>{{u.actualreturndate}}</td>
                    <td>{{u.fine}}</td>
                  </tr>   
                  
                </tbody>
              </table>
            
        </div>
        <div class="col-3">
            <div class="row"><button type="button" class="btn btn-success" disabled>Show Issued Book</button></div>
            <br/>
            <div class="row"><button type="button" class="btn btn-warning" routerLink="../ReturnBook">Return Book</button></div>
            <br/>
            <div class="row"><button type="button" class="btn btn-primary" routerLink="../IssueBook">Issue Book</button></div>
          
        </div>
    </div>
</div>

