
<div class="container">
    <h2> User</h2>
    <div class="row">
        <div class='col-9'>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">User Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">User Contact</th>
                    <th scope="col">User Address</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let u of result">
                    <th scope="row">{{u.uid}}</th>
                    <td>{{u.uname}}</td>
                    <td>{{u.ucontact}}</td>
                    <td>{{u.uaddress}}</td>
                  </tr>   
                  
                </tbody>
              </table>
            
        </div>
        <div class="col-3">
          <div class="row"><button type="button" class="btn btn-success">Show User</button></div>
          <br/>
          <div class="row"><button type="button" class="btn btn-warning">Update and delete user</button></div>
          <br/>
          <div class="row"><button type="button" class="btn btn-primary">Insert User</button></div>
        
        </div>
    </div>
</div>
